#container{
	margin:0 auto;
	width:70%;
}

section{
  /*  display: inline-flex;*/
   display:block;
   margin-right: 30px;
   width: 101%;
}

.right {
	text-align: right;

}

p {
		font-size: 25px;
}

footer{

}