#container{
	margin:0 auto;
	width:70%;
}

section{
        margin: 0 auto;
        margin-left:25px;
        margin-top: 50px;
}

.right {
	text-align: right;

}

p {
		font-size: 25px;
}

.tile {
        display: inline-block;
        width: 22%;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-top:10px;
}

footer{
   
}